@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section {
    @apply flex max-md:flex-col items-center gap-4 mt-4;
  }
  .portrait {
    @apply flex w-56 h-auto max-w-xs max-md:w-40 rounded-full styledBorder;
  }
  .card {
    @apply w-full p-4 flex flex-col gap-2 styledBorder;
  }
  .accent {
    @apply bg-accent/30 font-mono hover:bg-accent/50 transition-colors styledBorder px-1 py-0.5 text-accent-foreground rounded-lg;
  }
  .logo {
    @apply inline-flex items-center gap-2 hover:bg-accent/40 transition-colors h-24 p-1 rounded-lg;
  }
  .buttonSmall {
    @apply size-8 p-0 styledBorder bg-black text-gray-200;
  }
  .buttonLarge {
    @apply h-8 w-20 p-0 styledBorder bg-black text-gray-200;
  }
  .styledBorder {
    @apply border-tertiary border-2;
  }
}

@layer base {
  * {
    @apply border-tertiary;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  /* Section border color */
  --tertiary: 300, 100%, 30%;
  --radius: 0.5rem;
}

.dark {
  --background: 1 00% 00%;
  --foreground: 216 10% 80%;

  /* Card component background and text color */
  --card: 0 0% 95%;
  --card-foreground: 0 0% 0%;

  /* Code component radius, background and text color */
  --accent: 216 13% 30%;
  --accent-foreground: 216 13% 90%;
}

.light {
  --background: 0 0% 95%;
  --foreground: 0 0% 0%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 95%;
  --accent: 1 00% 30%;
  --accent-foreground: 1 00% 00%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* displays the skip navigation link when it is focused */
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
