@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  /* Section border color */
  --border: 300, 100%, 30%;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 1 00% 00%;
    --foreground: 216 10% 80%;

    /* Card component background and text color */
    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;

    /* Code component radius, background and text color */
    --accent: 216 13% 30%;
    --accent-foreground: 216 13% 90%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 0%;

    /* Card component background and text color */
    --card: 0 0% 0%;
    --card-foreground: 0 0% 95%;

    /* Code component radius, background and text color */
    --accent: 1 00% 30%;
    --accent-foreground: 1 00% 00%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* displays the skip navigation link when it is focused */
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
